/*
1. Posicionamiento
2. Modelo de caja (Box model9
3. Tipografia
4. Visuales
5. Otros
*/
:root{
    /* Colores*/
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --warn-black:#201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFFFFF;
    /*font size*/
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xlg: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    width: 100%;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 350px;
    height: 334px;
    text-align: center;
    align-items: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 151px;
    height: 24px;
    margin-top: 60px;       
}
.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin-top: 50px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header--title-container h1{
    color: var(--white);
    font-size: var(--xlg);
    line-height: 2.6rem; g
    font-weight: bold;
}
.header--title-container p{
    font-size: var(--sm);
    color: var(--soft-orange);
    margin-top: 24px;
    font-weight: 500;
    line-height: 1.8rem;
}
.header--title-container .header--button {
    position:absolute;
    align-self: center;
    text-align: center;    
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: var(--sm);
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
}

.header--button span{
    display: inline-block; /*para visualización, por defecto no se puede*/
    width: 13px;
    height: 13px;
    margin-left: 10px;
    background-image: url('./assets/assets/icons/down-arrow.svg');
    background-size: cover;
    background-position: center;       
}
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
    min-width: 350px;
    text-align: center;
}
.main-exchange-container{
   /*forma uno de centrar todo el contenido
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;*/
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 60px;
    min-width: 350px;
}
.main-exchange-container .background-image{
    width: 195px;
    height: 195px;
    margin: 0 auto; /*otra manera de centrar la imagen sin flex*/
    background-image: url("./assets/assets/img/Bitcoin.svg");
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}
.main-exchange-container--text{
    width: 90%; 
    min-width: 288px;   
    max-width: 900px;
    margin: 0 auto;
}
h2{
    font-size: var(--xlg);
    color: var(--black);
    margin-bottom: 32px;
    line-height: 24px;
    font-weight: 700;
}
p{
    font-size: var(--sm);
    color: #757575;
    line-height: 18px;
    font-weight: 500;
}
.main-table-container {
    width: 90%; 
    min-width: 288px;   
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 48px;
}
.main-currency-table{
    text-align: left;
    width: 70%; 
    height: auto;
    min-width: 235px;
    max-width: 450px;
    margin: 0 auto; 
    font-family: "Inter";      
}
.currency-table--title {
    color: var(--bitcoin-orange);
    font-size: var(--md);
    font-weight: 700;
    padding: 8px;
    text-align: center;
}
.currency-table-container {
    width: 100%;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 0 auto;
}
.currency-table-container table{
    width: 100%;
    margin: 0 auto;
    border: 1px solid var(--off-white);
    border-radius: 12px;
}
.currency-table-container td{
    width: 50%;
    height: 39px;
    color: var(--grey);
    padding: 8px;
    border: 1px solid var(--off-white);
    font-size: var(--md);
    font-weight: 500;
}
.currency-table-container .table__right{
    color: #757575;  
    text-align: left;   
}
.trending-down{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("./assets/assets/icons/trending-down.svg");
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    margin: 0 8px;   
}
.trending-up{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("./assets/assets/icons/trending-up.svg");
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    margin: 0 8px; 
}
.currency-table-date{
    width: 80%;    
    padding: 12px;
    background: var(--soft-orange);
    border-radius: 12px;
    margin: 20px auto 54px;
    text-align: center;
    font-size: 12px ;
}
.currency-table-date p{
    color: var(--warn-black);
}
p#comision-title{
    color: var(--secondary-blue);
}
#comision-date{
    background: #E7F5FF;
}
.main-benefits{
    width: 100%;
    height: auto;
    background-color: var(--warn-black);
    min-width: 350px;
    text-align: center;
    padding: 32px 4px;
    position: relative;
}
span.patata-icon{
    position: absolute;
    display: inline-block;
    background-image: url(./assets/assets/icons/batata.svg);
    height: 20px; 
    width: 40px;  
    background-size: contain;
    background-repeat: no-repeat;
    top: -10px;
    left: calc(50% - 20px);
}
.main-benefits-title{
    width: 90%;
    margin-top: 32px;
    padding-top: 50px;
    padding-bottom: 15px;
    text-align: center;
    margin: 0 auto;
}
.main-benefits-title h2{
    font-size: var(--xlg);
    color: var(--white);
    font-weight: bold;
    margin-bottom: 24px;
}
.main-benefits-title p{
    font-size: var(--sm);
    color: var(--grey);
    font-weight: bold;
    margin-bottom: 24px;
}
.benefit-container{
    width: 90%;
    height: auto;
    padding: 8px;
    background:#282623;
    border-radius: 6px;
    margin: 16px auto;
    max-width: 450px;
}
.benefit-container span{
    width: 20px;
    height: 20px;
    display: block;
    align-self: initial;
    background-size: cover;
    background-repeat: none;
    margin-bottom: 8px;
}
.benefit-container h3{
    color: var(--off-white);
    font-size: var(--md);
    text-align: initial;
    margin-bottom: 8px;
    font-weight: bold;
}
.benefit-container p{
    color: var(--grey);
    font-size: var(--sm);
    text-align: initial;
    margin-bottom: 8px;
    font-weight: 500;
}
.benefits-icon--1{
    background-image: url(./assets/assets/icons/clock.svg);
}
.benefits-icon--2{
    background-image: url(./assets/assets/icons/eye.svg);
}
.benefits-icon--3{
    background-image: url(./assets/assets/icons/dollar-sign.svg);
}
.benefits-icon--4{
    background-image: url(./assets/assets/icons/check-circle.svg);
}
.comodin-section { 
    width: 100%;
    height: 387px;     
    background-image: url("./assets/assets/img/bitcoinbaby2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.comodin-title h2{
    padding-top: 76px;
    color: var(--white);
}
.plans-container{
    background: var(--off-white);
    height: auto;
    margin: 50px 8px;
}
.plans-container .plans-title{
    padding-bottom: 40px;
}

.card-container{
    margin: 24px 15px;
    width: 190px;
    height: 247px;
    min-width: 230px;
    max-width: 300px;
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    position: relative;
    padding: 8px;
    scroll-snap-align: center;
}
.cards-slider {
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.card-container p{
    font-size: 12px;
}
.card-container .floating-title{
    height: 32px;
    width: 102px;
    background: var(--bitcoin-orange);
    color: var(--white);
    border-radius: 8px;
    position: absolute;
    top: -16px;
    left: calc(50% - 51px);
    font-size: 12px;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    display: flex;
}
h3 {
    padding-top: 30px;
    font-size: var(--sm);
    color: var(--black); 
}
.card-container .plan-cost{
    font-size: 52px;
    line-height: 62px;
    padding: 8px;
    font-weight: 900;
    color: #000;
    font-family: "Inter";
}
sup{
    font-size: 12px;
}
.card-container .plan-button{
    height: 48px ;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    margin: 8px;
    border-radius: 4px;
    color: var(--warn-black);
    font-weight: bold;
}
.card-container .plan-button span{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    background-image: url("./assets/assets/icons/orange-right-arrow.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
footer{
    width: 100%;
    height: 150px;
    background: var(--bitcoin-orange);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div{
    margin: 20px;
}
footer div img{
    width: 64px;
    height: 50px;
}
footer p{
    color: var(--off-white);
    font-size: var(--md);
    line-height: 18px;
    margin: 8px;
    font-weight: 200;
}







