/*
1. Posicionamiento
2. Modelo de caja (Box model9
3. Tipografia
4. Visuales
5. Otros
*/
:root{
    /* Colores*/
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --warn-black:#201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFFFFF;
    /*font size*/
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xlg: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 350px;
    height: 334px;
    text-align: center;
    align-items: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 151px;
    height: 24px;
    margin-top: 60px;       
}
.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin-top: 50px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header--title-container h1{
    color: var(--white);
    font-size: var(--xlg);
    line-height: 2.6rem;
    font-weight: bold;
}
.header--title-container p{
    font-size: var(--sm);
    color: var(--soft-orange);
    margin-top: 24px;
    font-weight: 500;
    line-height: 1.8rem;
}
.header--title-container .header--button {
    position:absolute;
    align-self: center;
    text-align: center;    
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: var(--sm);
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
}

.header--button span{
    display: inline-block; /*para visualización, por defecto no se puede*/
    width: 13px;
    height: 10px;
    margin-left: 10px;
    
    background-image: url('../ResponsiveDesign/assets/assets/icons/down-arrow.svg');
    background-size: cover;
    background-position: center;       
}
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
    min-width: 350px;
    text-align: center;
}
.main-exchange-container{
   /*forma uno de centrar todo el contenido
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;*/
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    min-width: 350px;
}
.main-exchange-container .background-image{
    width: 195px;
    height: 195px;
    margin: 0 auto; /*otra manera de centrar la imagen sin flex*/
    background-image: url("./assets/assets/img/Bitcoin.svg");
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}
.main-exchange-container--text{
    width: 90%; 
    min-width: 288px;   
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container--text h2{
    font-size: var(--xlg);
    color: var(--black);
    margin-bottom: 32px;
    line-height: 24px;
    font-weight: 700;
}
.main-exchange-container--text p{
    font-size: var(--sm);
    color: #757575;
    line-height: 18px;
    font-weight: 500;
}
.main-table-container {
    width: 90%; 
    min-width: 288px;   
    max-width: 900px;
    margin: 0 auto;
    padding-top: 48px;
}
.main-currency-table{
    text-align: left;
    width: 70%; 
    height: auto;
    min-width: 235px;
    max-width: 500px;
    margin: 0 auto; 
    font-family: "Inter";      
}
.currency-table--title {
    color: var(--bitcoin-orange);
    font-size: var(--md);
    font-weight: 700;
    padding: 8px;
}
.currency-table-container {
    width: 100%;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 0 auto;
}
.currency-table-container table{
    width: 100%;
    margin: 0 auto;
    border: 1px solid var(--off-white);
    border-radius: 12px;
}
.currency-table-container td{
    width: 50%;
    height: 39px;
    color: var(--grey);
    padding: 8px;
    border: 1px solid var(--off-white);
    font-size: var(--md);
    font-weight: 500;
}
.currency-table-container .table__right{
    color: #757575;  
    text-align: left;   
}
.trending-down{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("./assets/assets/icons/trending-down.svg");
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    margin: 0 8px;   
}
.trending-up{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("./assets/assets/icons/trending-up.svg");
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    margin: 0 8px; 
}
.currency-table-date{
    width: 180px;    
    padding: 12px;
    background: var(--soft-orange);
    border-radius: 12px;
    margin: 20px auto;
    text-align: center;
    font-size: 12px ;
}
.main-benefits-container{
    width: 100%;
    height: auto;
    background-color: var(--warn-black);
    min-width: 350px;
    text-align: center;
    padding: 32px 4px;
}
.main-benefits-title{
    width: 90%;
    margin-top: 32px;
    padding-top: 50px;
    padding-bottom: 15px;
    text-align: center;
    margin: 0 auto;
}
.main-benefits-title h2{
    font-size: var(--xlg);
    color: var(--white);
    font-weight: bold;
    margin-bottom: 24px;
}
.main-benefits-title p{
    font-size: var(--sm);
    color: var(--grey);
    font-weight: bold;
    margin-bottom: 24px;
}
.benefit-container{
    width: 90%;
    height: auto;
    padding: 8px;
    background:#282623;
    border-radius: 6px;
    margin: 16px auto;
}
.benefit-container span{
    width: 20px;
    height: 20px;
    display: block;
    align-self: initial;
    background-size: cover;
    background-repeat: none;
    margin-bottom: 8px;
}
.benefit-container h3{
    color: var(--off-white);
    font-size: var(--md);
    text-align: initial;
    margin-bottom: 8px;
    font-weight: bold;
}
.benefit-container p{
    color: var(--grey);
    font-size: var(--sm);
    text-align: initial;
    margin-bottom: 8px;
    font-weight: 500;
}
.benefits-icon--1{
    background-image: url(./assets/assets/icons/clock.svg);
}
.benefits-icon--2{
    background-image: url(./assets/assets/icons/eye.svg);
}
.benefits-icon--3{
    background-image: url(./assets/assets/icons/dollar-sign.svg);
}
.benefits-icon--4{
    background-image: url(./assets/assets/icons/check-circle.svg);
}



